.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .checkbox-label {
    display: block;
    margin-bottom: 10px;
    color: white;
  }
  
  .grid-box {
    background-color: red;
    height: 100%;
  }